@model System.Collections.Generic.List<UmecaApp.CaseHearingFormatTblDto> 
@inherits WebViewTemplate
@{
	Layout = "UmecaApp.HeadSupervition";
}
    <script type="text/javascript">
    function hearing(idCase){
		window.location.replace('hybrid:Supervision/HearingFormatList?idCase='+idCase);
    }
    </script>
<h2 class="element-center"><i class="icon-comments-alt "></i>&nbsp;&nbsp;Casos para formato de audiencia</h2>
<br /> 
<div id="toolbar2" class="btn-group">
    <a href="@Url.Action("CaseConditionalReprieveEditNew","Supervision")">
    <button type="button" class="btn btn-default" id="btnAdd">
        <i class="glyphicon glyphicon-plus"></i>
    </button></a>
</div>
    <table data-toggle="table" data-page-size="10" data-page-list="[10, 20, 30]"
     data-pagination="true" data-height="250"
     data-striped="true" data-search="true" 
     data-search-align="right" data-toolbar="#toolbar2">
    <thead>
    <tr>
        <th>Carpeta de Investigaci&oacute;n</th>
        <th>Carpeta Judicial</th>
        <th>Nombre Completo</th>
        <th>Estatus</th>
        <th>Acci&oacute;n</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var CaseHearing in Model) {
    <tr id="tr-id-1" class="tr-class-1">
        <td>
        	@CaseHearing.IdFolder
        </td>
        <td>
        	@CaseHearing.IdMP
        </td>
        <td>
        	@(CaseHearing.Name+" "+CaseHearing.LastNameP+" "+CaseHearing.LastNameM)
        </td>
        <td>
       		@CaseHearing.Description
        </td>
        <td>
         @if(CaseHearing.StatusCode=="ST_CASE_TECHNICAL_REVIEW_COMPLETE") {
         	<a href="javascript:;" style="display:inline-block;" title="Gestionar formatos de audiencia" onclick="hearing(@CaseHearing.CaseId);"><i class="icon-plus"></i></a>
         }
         @if(CaseHearing.StatusCode=="ST_CASE_NOT_PROSECUTE_OPEN") {
         	<a href="javascript:;" style="display:inline-block;" title="Gestionar formatos de audiencia" onclick="hearing(@CaseHearing.CaseId);"><i class="icon-plus"></i></a>
         }
         @if(CaseHearing.StatusCode=="ST_CASE_CONDITIONAL_REPRIEVE") {
         	<a href="javascript:;" style="display:inline-block;" title="Gestionar formatos de audiencia" onclick="hearing(@CaseHearing.CaseId);"><i class="icon-plus"></i></a>
         }
         @if(CaseHearing.StatusCode=="ST_CASE_HEARING_FORMAT_INCOMPLETE") {
         	<a href="javascript:;" style="display:inline-block;" title="Visualizar formatos de audiencia" onclick="hearing(@CaseHearing.CaseId);"><span class="icon-pencil"></span></a>
         }

         @if(CaseHearing.StatusCode=="ST_CASE_HEARING_FORMAT_END") {
         	<a href="javascript:;" style="display:inline-block;" title="Visualizar formatos de audiencia" onclick="hearing(@CaseHearing.CaseId);"><span class="icon-eye-open"></span></a>
         }
         @if(CaseHearing.StatusCode=="ST_CASE_PRE_CLOSED") {
         	<a href="javascript:;" style="display:inline-block;" title="Visualizar formatos de audiencia" onclick="hearing(@CaseHearing.CaseId);"><span class="icon-eye-open"></span></a>
         }
         @if(CaseHearing.StatusCode=="ST_CASE_FRAMING_MEETING_INCOMPLETE") {
         	<a href="javascript:;" style="display:inline-block;" title="Visualizar formatos de audiencia" onclick="hearing(@CaseHearing.CaseId);"><span class="icon-eye-open"></span></a>
         }
         @if(CaseHearing.StatusCode=="ST_CASE_FRAMING_MEETING_COMPLETE") {
         	<a href="javascript:;" style="display:inline-block;" title="Visualizar formatos de audiencia" onclick="hearing(@CaseHearing.CaseId);"><span class="icon-eye-open"></span></a>
         }
        </td>
    </tr>
}
    </tbody>
</table>