@model UmecaApp.HearingFormatTblDto

@inherits WebViewTemplate
@{
	Layout = "UmecaApp.HeadSupervition";
}
    <script type="text/javascript">
    function cancelari(){
		window.location.replace('hybrid:Login/Index');
    } 
    function visualizeFormat(fuente,formato){
		window.location.replace('hybrid:Supervision/HearingFormatVisualize?idCase='+fuente+'&idFormato='+formato);
    }
    function editFormatoAudiencia(fuente,formato){
		window.location.replace('hybrid:Supervision/HearingFormatUpsert?idCase='+fuente+'&idFormato='+formato);
    }
    </script>
<h2 class="element-center"><i class="icon-comments-alt "></i>&nbsp;&nbsp;Formato de Audiencia</h2>
@if(Model.message!=null){
		<div class="row" onclick="javascript:$(this).hide();">
            <div class="col-xs-12">
                <div msg="MsgError"
                     class="umeca-toast-error element-center">
                    <p>@Model.message</p>
                </div>
            </div>
        </div>
}
<br />
<div id="toolbar2" class="btn-group">
    <a onclick="javascript:newFormatoAudiencia(@Model.CaseId);">
    <button type="button" class="btn btn-default" id="btnAdd">
        <i class="glyphicon glyphicon-plus"></i>
    </button></a>
</div>
    <table data-toggle="table" data-page-size="10" data-page-list="[10, 20, 30]"
     data-pagination="true" data-height="250"
     data-striped="true" data-search="true" 
     data-search-align="right" data-toolbar="#toolbar2">
    <thead>
    <tr>
        <th>Carpeta de Investigaci&oacute;n</th>
        <th>Carpeta Judicial</th>
        <th>Nombre Completo</th>
        <th>Fecha de Registro</th>
        <th>Supervisor</th>
        <th>Audiencia</th>
        <th>Ampliaci&oacute;n de plazo</th>
        <th>Vinculaci&oacute;n a proceso</th>
        <th>Finalizado</th>
        <th>Acci&oacute;n</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var formatoAudiencia in Model.rows) {
    <tr id="tr-id-1" class="tr-class-1">
        <td>
        	@formatoAudiencia.IdFolder
        </td>
        <td>
        	@formatoAudiencia.IdMP
        </td>
        <td>
        	@formatoAudiencia.Fullname
        </td>
        <td>
        	@formatoAudiencia.RegisterTime
        </td>
        <td>
        	@formatoAudiencia.UserName
        </td>
        <td>
        	@formatoAudiencia.HearingType
        </td>
        <td>
        	@formatoAudiencia.Extension
        </td>
        <td>
        	@formatoAudiencia.ProcessVinc
        </td>
        <td>
       		@formatoAudiencia.FinishedStr
        </td>
        <td>
        @if(formatoAudiencia.IsFinished){
         	<a href="javascript:;" style="display:inline-block;" title="Visualizar formatos de audiencia" onclick="visualizeFormat(@formatoAudiencia.CaseId,@formatoAudiencia.Id);"><span class="icon-eye-open"></span></a>
        }else{
         	<a href="javascript:;" style="display:inline-block;" title="Visualizar formatos de audiencia" onclick="editFormatoAudiencia(@formatoAudiencia.CaseId,@formatoAudiencia.Id);"><span class="icon-pencil"></span></a>
        }
        </td>
    </tr>
}
    </tbody>
</table>
	<!--<span class="btn btn-default btn-sm" onclick="cancelari();">
        Cancelar
    </span>-->