@model System.Collections.Generic.List<UmecaApp.MeetingTblDto>
@inherits WebViewTemplate
@{
	Layout = "UmecaApp.HeadSupervition";
}



 <script>
var askSyncIncomplete  = {};
askSyncIncomplete.idCase = 0;

askSyncIncomplete.show = function (caso){
	var dlgMsgBox = $('#askSyncIncompleteBoxDlgId');
	askSyncIncomplete.idCase = caso;
	dlgMsgBox.show();
};


askSyncIncomplete.hide = function (){
	askSyncIncomplete.idCase = 0;
	var dlgMsgBox = $('#askSyncIncompleteBoxDlgId');
	dlgMsgBox.hide();
};

askSyncIncomplete.yes = function (){
	var password = $("#askSyncIncompletecontainerPassword").val();
	$("#askSyncIncompletecontainerPassword").val("");
	var result = Sync.sincrinozeCase("["+askSyncIncomplete.idCase+"]", password,"verificacion");
	var resultado = $.parseJSON(result);
	if(resultado.error){
		alert(resultado.response);
	}else{
		window.location.refresh();
	}
askSyncIncomplete.idCase = 0;
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askSyncIncompleteBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askSyncIncompleteBoxDlgXclose" type="button" class="close" onclick="javascript:askSyncIncomplete.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Sincronizar</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contrasea:<br><input type="password" name="usrPassword" id="askSyncIncompletecontainerPassword"/>
                <br><b> Una vez sincronizada se eliminaran del dispositivo las fuentes que no se terminaron y el caso que las contiene.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askSyncIncomplete.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askSyncIncomplete.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>



     <script>
var askSyncMeeting  = {};
askSyncMeeting.idCase = 0;

askSyncMeeting.show = function (caso){
	var dlgMsgBox = $('#askSyncMeetingBoxDlgId');
	askSyncMeeting.idCase = caso;
	dlgMsgBox.show();
};

askSyncMeeting.hide = function (){
	askSyncMeeting.idCase = 0;
	var dlgMsgBox = $('#askSyncMeetingBoxDlgId');
	dlgMsgBox.hide();
};

askSyncMeeting.yes = function (){
	var password = $("#askSyncMeetingcontainerPassword").val();
	$("#askSyncMeetingcontainerPassword").val("");
	var result = Sync.sincrinozeCase("["+askSyncMeeting.idCase+"]", password,"meeting");
	alert(result);
askSyncMeeting .idCase = 0;
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askSyncMeetingBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askSyncMeetingBoxDlgXclose" type="button" class="close" onclick="javascript:askSyncMeeting.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Sincronizar</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contrasea:<br><input type="password" name="usrPassword" id="askSyncMeetingcontainerPassword"/>
                <br><b> Una vez termine se eliminaran el caso del dispositivo.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askSyncMeeting.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askSyncMeeting.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>


     <script>
var askSyncVerification  = {};
askSyncVerification.idCase = 0;

askSyncVerification.show = function (caso){
	var dlgMsgBox = $('#askSyncVerificationBoxDlgId');
	askSyncVerification.idCase = caso;
	dlgMsgBox.show();
};

askSyncVerification.hide = function (){
	askSyncVerification.idCase = 0;
	var dlgMsgBox = $('#askSyncVerificationBoxDlgId');
	dlgMsgBox.hide();
};

askSyncVerification.yes = function (){
	var password = $("#askSyncVerificationcontainerPassword").val();
	$("#askSyncVerificationcontainerPassword").val("");
	var result = Sync.sincrinozeCase("["+askSyncVerification.idCase+"]", password,"verificacion");
	alert(result);
askSyncPAssword.idCase = 0;
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askSyncVerificationBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askSyncVerificationBoxDlgXclose" type="button" class="close" onclick="javascript:askSyncVerification.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Sincronizar</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contrasea:<br><input type="password" name="usrPassword" id="askSyncVerificationcontainerPassword"/>
                <br><b> Una vez termine se eliminaran el caso del dispositivo.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askSyncVerification.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askSyncVerification.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>

    <script>
var askSyncHearingFormat  = {};
askSyncHearingFormat.idCase = 0;

askSyncHearingFormat.show = function (caso){
	var dlgMsgBox = $('#askSyncHearingFormatBoxDlgId');
	askSyncHearingFormat.idCase = caso;
	dlgMsgBox.show();
};

askSyncHearingFormat.hide = function (){
	askSyncHearingFormat.idCase = 0;
	var dlgMsgBox = $('#askSyncHearingFormatBoxDlgId');
	dlgMsgBox.hide();
};

askSyncHearingFormat.yes = function (){
	var password = $("#askSyncHearingFormatcontainerPassword").val();
	$("#askSyncHearingFormatcontainerPassword").val("");
	var result = Sync.sincrinozeCase("["+askSyncHearingFormat.idCase+"]", password,"hearing");
	alert(result);
askSyncHearingFormat .idCase = 0;
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askSyncHearingFormatBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askSyncHearingFormatBoxDlgXclose" type="button" class="close" onclick="javascript:askSyncHearingFormat.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Sincronizar</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contrasea:<br><input type="password" name="usrPassword" id="askSyncHearingFormatcontainerPassword"/>
                <br><b> Una vez termine se eliminaran el caso del dispositivo.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askSyncHearingFormat.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askSyncHearingFormat.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>

























    <script type="text/javascript">
    function legal(err){
    	alert("legal>>"+err);
    }
    function syncronizar(idMeet){
    var casos = "["+idMeet+"]";
    	var result = Sync.sincrinozeCase("["+casos+"]", "99630110");
    }
    function cancelari(){
		window.location.replace('hybrid:Login/Index');
    }
    </script>
<h2 class="element-center"><i class="icon-comments-alt "></i>&nbsp;&nbsp;Entrevistas de evaluaci&oacute;n de riesgos procesales</h2>
<br />
<div id="toolbar2" class="btn-group">
    <a href="@Url.Action("MeetingEditNew","Meeting")">
    <button type="button" class="btn btn-default" id="btnAdd">
        <i class="glyphicon glyphicon-plus"></i>
    </button></a>
    <!--<button type="button" class="btn btn-default" id="btnRefresh">
        <i class="glyphicon glyphicon-refresh"></i>
    </button>-->
</div>
    <table data-toggle="table" data-page-size="10" data-page-list="[10, 20, 30]"
     data-pagination="true" data-height="250"
     data-striped="true" data-search="true" 
     data-search-align="right" data-toolbar="#toolbar2">
    <thead>
    <tr>
        <th>ID</th>
        <th data-width="900">Carpeta de Investigaci&oacute;n</th>
        <th>Nombre completo</th>
        <th>Estatus</th>
        <th>sincronization Type</th>
        <th>Acci&oacute;n</th>
    </tr>
    </thead>
    <tbody> 
    @foreach(var Meeting in Model) {
    <tr id="tr-id-1" class="tr-class-1">
        <td id="td-id-1" class="td-class-1">
            @Meeting.CaseId
        </td>
        <td>
        	@Meeting.IdFolder
        </td>
        <td>
        	@(Meeting.Name+" "+Meeting.LastNameP+" "+Meeting.LastNameM)
        </td>
        <td>
       		@Meeting.StatusCode
        </td>
        <td>
        	@Meeting.Action
        </td>
        <td>
        @if(Meeting.Action=="verificationIncomplete") {
         	<a href="javascript:askSyncIncomplete.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
        }
        @if(Meeting.Action=="verification") {
         	<a href="javascript:askSyncVerification.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
        }
        @if(Meeting.Action=="meeting") {
         	<a href="javascript:askSyncMeeting.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
        }
        @if(Meeting.Action=="hearing") {
         	<a href="javascript:askSyncHearingFormat.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
        }
        </td>
    </tr>
}
    </tbody>
</table>
	<!--<span class="btn btn-default btn-sm" onclick="cancelari();">
        Cancelar
    </span>-->



