@model System.Collections.Generic.List<UmecaApp.MeetingTblDto>
@inherits WebViewTemplate
@{
	Layout = "UmecaApp.headUmGrid";
}



 <script>
var askSyncIncomplete  = {};
askSyncIncomplete.idCase = 0;

askSyncIncomplete.show = function (caso){
	var dlgMsgBox = $('#askSyncIncompleteBoxDlgId');
	askSyncIncomplete.idCase = caso;
	dlgMsgBox.show();
}; 


askSyncIncomplete.hide = function (){
	askSyncIncomplete.idCase = 0;
	var dlgMsgBox = $('#askSyncIncompleteBoxDlgId');
	dlgMsgBox.hide();
};

askSyncIncomplete.yes = function (){
	var password = $("#askSyncIncompletecontainerPassword").val();
	$("#askSyncIncompletecontainerPassword").val("");
	var result = Sync.sincrinozeCase("["+askSyncIncomplete.idCase+"]", password,"verificacion");
	var respuesta = $.parseJSON( result );
	console.log(respuesta.response);
			if(respuesta.error){
				askSyncIncomplete.hide();
				$("#Resp2Value").text(respuesta.response);
				$("#mesageResp2").show();
			}else{
				window.location.replace('hybrid:Sync/Index');
			}
askSyncIncomplete.idCase = 0;
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askSyncIncompleteBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askSyncIncompleteBoxDlgXclose" type="button" class="close" onclick="javascript:askSyncIncomplete.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Sincronizar</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contraseña:<br><input type="password" name="usrPassword" id="askSyncIncompletecontainerPassword"/>
                <br><b> Una vez sincronizada se eliminarán del dispositivo las fuentes que no se terminaron y el caso que las contiene.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askSyncIncomplete.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askSyncIncomplete.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>



     <script>
var askSyncMeeting  = {};
askSyncMeeting.idCase = 0;

askSyncMeeting.show = function (caso){
	var dlgMsgBox = $('#askSyncMeetingBoxDlgId');
	askSyncMeeting.idCase = caso;
	dlgMsgBox.show();
};

askSyncMeeting.hide = function (){
	askSyncMeeting.idCase = 0;
	var dlgMsgBox = $('#askSyncMeetingBoxDlgId');
	dlgMsgBox.hide();
};

askSyncMeeting.yes = function (){
	var password = $("#askSyncMeetingcontainerPassword").val();
	$("#askSyncMeetingcontainerPassword").val("");
	var result = Sync.sincrinozeCase("["+askSyncMeeting.idCase+"]", password,"meeting");
	var respuesta = $.parseJSON( result );
	console.log(respuesta.response);
			if(respuesta.error){
				askSyncMeeting.hide();
				$("#Resp2Value").text(respuesta.response);
				$("#mesageResp2").show();
			}else{
				window.location.replace('hybrid:Sync/Index');
			}
askSyncMeeting.idCase = 0;
askSyncMeeting .idCase = 0;
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askSyncMeetingBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askSyncMeetingBoxDlgXclose" type="button" class="close" onclick="javascript:askSyncMeeting.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Sincronizar</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contraseña:<br><input type="password" name="usrPassword" id="askSyncMeetingcontainerPassword"/>
                <br><b> Una vez termine se eliminará el caso del dispositivo.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askSyncMeeting.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askSyncMeeting.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>


     <script>
var askSyncVerification  = {};
askSyncVerification.idCase = 0;

askSyncVerification.show = function (caso){
	var dlgMsgBox = $('#askSyncVerificationBoxDlgId');
	askSyncVerification.idCase = caso;
	dlgMsgBox.show();
};

askSyncVerification.hide = function (){
	askSyncVerification.idCase = 0;
	var dlgMsgBox = $('#askSyncVerificationBoxDlgId');
	dlgMsgBox.hide();
};
  
askSyncVerification.yes = function (){
	var password = $("#askSyncVerificationcontainerPassword").val();
	$("#askSyncVerificationcontainerPassword").val("");
	var result = Sync.sincrinozeCase("["+askSyncVerification.idCase+"]", password,"verificacion");
	var respuesta = $.parseJSON( result );
	console.log(respuesta.response);
			if(respuesta.error){
				askSyncVerification.hide();
				$("#Resp2Value").text(respuesta.response);
				$("#mesageResp2").show();
			}else{
				window.location.replace('hybrid:Sync/Index');
			}
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askSyncVerificationBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askSyncVerificationBoxDlgXclose" type="button" class="close" onclick="javascript:askSyncVerification.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Sincronizar</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contraseña:<br><input type="password" name="usrPassword" id="askSyncVerificationcontainerPassword"/>
                <br><b> Una vez termine se eliminará el caso del dispositivo.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askSyncVerification.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askSyncVerification.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>

    <script>
var askSyncHearingFormat  = {};
askSyncHearingFormat.idCase = 0;

askSyncHearingFormat.show = function (caso){
	var dlgMsgBox = $('#askSyncHearingFormatBoxDlgId');
	askSyncHearingFormat.idCase = caso;
	dlgMsgBox.show();
};

askSyncHearingFormat.hide = function (){
	askSyncHearingFormat.idCase = 0;
	var dlgMsgBox = $('#askSyncHearingFormatBoxDlgId');
	dlgMsgBox.hide();
};

askSyncHearingFormat.yes = function (){
	var password = $("#askSyncHearingFormatcontainerPassword").val();
	$("#askSyncHearingFormatcontainerPassword").val("");
	var result = Sync.sincrinozeCase("["+askSyncHearingFormat.idCase+"]", password,"hearing");
	var respuesta = $.parseJSON( result );
	console.log(respuesta.response);
			if(respuesta.error){
				askSyncHearingFormat.hide();
				$("#Resp2Value").text(respuesta.response);
				$("#mesageResp2").show();
			}else{
				window.location.replace('hybrid:Sync/Index');
			}
askSyncHearingFormat.idCase = 0;
askSyncHearingFormat .idCase = 0;
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askSyncHearingFormatBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askSyncHearingFormatBoxDlgXclose" type="button" class="close" onclick="javascript:askSyncHearingFormat.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Sincronizar</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contraseña:<br><input type="password" name="usrPassword" id="askSyncHearingFormatcontainerPassword"/>
                <br><b> Una vez termine se eliminará el caso del dispositivo.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askSyncHearingFormat.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askSyncHearingFormat.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>


    <script>
var askDeleteCase  = {};
askDeleteCase.idCase = 0;

askDeleteCase.show = function (caso){
	var dlgMsgBox = $('#askDeleteCaseBoxDlgId');
	askDeleteCase.idCase = caso;
	dlgMsgBox.show();
};

askDeleteCase.hide = function (){
	askDeleteCase.idCase = 0;
	var dlgMsgBox = $('#askDeleteCaseBoxDlgId');
	dlgMsgBox.hide();
};
  
askDeleteCase.yes = function (){
	var password = $("#askDeleteCasecontainerPassword").val();
	$("#askDeleteCasecontainerPassword").val("");
	var result = Sync.deleteCase("["+askDeleteCase.idCase+"]", password);
	var respuesta = $.parseJSON( result );
	console.log(respuesta.response);
			if(respuesta.error){
				askDeleteCase.hide();
				$("#Resp2Value").text(respuesta.response);
				$("#mesageResp2").show();
			}else{
				window.location.replace('hybrid:Sync/Index');
			}
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askDeleteCaseBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-danger">
                    <button id="askDeleteCaseBoxDlgXclose" type="button" class="close" onclick="javascript:askDeleteCase.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para eliminar caso</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contraseña:<br><input type="password" name="usrPassword" id="askDeleteCasecontainerPassword"/>
                <br><b> Todos los datos seran eliminados. Se tendra que reasignar el caso nuevamente.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-danger" onclick="javascript:askDeleteCase.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askDeleteCase.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>



    <script type="text/javascript">
    function legal(err){
    	alert("legal>>"+err);
    }
    function syncronizar(idMeet){
    var casos = "["+idMeet+"]";
    	var result = Sync.sincrinozeCase("["+casos+"]", "99630110");
    }
    function cancelari(){
		window.location.replace('hybrid:Login/Index');
    }
    </script>
<h2 class="element-center"><i class="icon-comments-alt "></i>&nbsp;&nbsp;Sincronizar Casos en Evaluaci&oacute;n</h2>
<br />
    <table data-toggle="table" data-page-size="10" data-page-list="[10, 20, 30]"
     data-pagination="true" data-height="350"
     data-striped="true" data-search="true" 
     data-search-align="right" data-toolbar="#toolbar2">
    <thead>
    <tr>
        <!--<th>ID</th>-->
        <th data-width="900">Carpeta de Investigaci&oacute;n</th>
        <th>Nombre completo</th>
        <th>Estatus</th>
        <!--<th>sincronization Type</th>-->
        <th>Acci&oacute;n</th>
    </tr>
    </thead>
    <tbody> 
    @foreach(var Meeting in Model) {
    <tr id="tr-id-1" class="tr-class-1">
        <!--<td id="td-id-1" class="td-class-1">
            @Meeting.CaseId
        </td>-->
        <td>
        	@Meeting.IdFolder
        </td>
        <td>
        	@(Meeting.Name+" "+Meeting.LastNameP+" "+Meeting.LastNameM)
        </td>
        <td>
       		@Meeting.Description
        </td>
        <!--<td>
        	@Meeting.Action
        </td>-->
        <td>
        @if(Meeting.Action=="verificationIncomplete") {
         	<a href="javascript:askSyncIncomplete.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
         	<br/>
         	<a href="javascript:askDeleteCase.show(@Meeting.CaseId);" style="display:inline-block;" title="ELiminar caso" onclick=""><i class="icon-trash"></i></a>
        }
        @if(Meeting.Action=="verification") {
         	<a href="javascript:askSyncVerification.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
         	<br/>
         	<a href="javascript:askDeleteCase.show(@Meeting.CaseId);" style="display:inline-block;" title="ELiminar caso" onclick=""><i class="icon-trash"></i></a>
        }
        @if(Meeting.Action=="meeting") {
         	<a href="javascript:askSyncMeeting.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
         	<br/>
         	<a href="javascript:askDeleteCase.show(@Meeting.CaseId);" style="display:inline-block;" title="ELiminar caso" onclick=""><i class="icon-trash"></i></a>
        }
        @if(Meeting.Action=="hearing") {
         	<a href="javascript:askSyncHearingFormat.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
         	<br/>
         	<a href="javascript:askDeleteCase.show(@Meeting.CaseId);" style="display:inline-block;" title="ELiminar caso" onclick=""><i class="icon-trash"></i></a>
        }
        @if(Meeting.Action=="negacion") {
         	<a href="javascript:askSyncMeeting.show(@Meeting.CaseId);" style="display:inline-block;" title="Sincronizar Caso" onclick=""><i class="icon-exchange"></i></a>
         	<br/>
         	<a href="javascript:askDeleteCase.show(@Meeting.CaseId);" style="display:inline-block;" title="ELiminar caso" onclick=""><i class="icon-trash"></i></a>
        }
        </td>
    </tr>
}
    </tbody>
</table>
	<!--<span class="btn btn-default btn-sm" onclick="cancelari();">
        Cancelar
    </span>-->



