@model System.Collections.Generic.List<UmecaApp.MeetingTblDto>
@inherits WebViewTemplate
@{
	Layout = "UmecaApp.headUmGrid";
}
    <script type="text/javascript">
    function fuentes(idCase){
    	window.location.replace('hybrid:Verification/IndexFuentes?idCase='+idCase);
    }
    </script>
<h2 class="element-center"><i class="icon-chek "></i>&nbsp;&nbsp;Procesos de verificaci&oacute;n</h2>
<br />
    <table data-toggle="table" data-page-size="10" data-page-list="[10, 20, 30]"
     data-pagination="true" data-height="250"
     data-striped="true" data-search="true" 
     data-search-align="right" data-toolbar="#toolbar2">
    <thead>	
    <tr>
        <th>ID</th>
        <th>Carpeta de Investigaci&oacute;n</th>
        <th>Nombre completo</th>
        <th>G&eacute;nero</th>
        <th>Estatus</th>
        <th>Acci&oacute;n</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var Meeting in Model) {
    <tr id="tr-id-1" class="tr-class-1">
        <td id="td-id-1" class="td-class-1">
            @Meeting.CaseId
        </td>
        <td>
        	@Meeting.IdFolder
        </td>
        <td>
        	@(Meeting.Name+" "+Meeting.LastNameP+" "+Meeting.LastNameM)
        </td>
        <td id="td-id-1" class="td-class-1">
            @if (Meeting.Gender != null) {
                        if (Meeting.Gender.Equals(true)){//true is female
                        	<label>Femenino</label>
                        }else{
                            <label>Masculino</label>
                        }
                    } else {
                        <label>Sin proporcionar</label>
                    }
        </td>
        <td>
        @Meeting.StatusCode
        </td>
        <td>
         
         	<a href="javascript:;" style="display:inline-block;" title="Entrevistar fuentes" onclick="fuentes(@Meeting.CaseId);"><i class="icon-group blue"></i></a>
         
        </td>
    </tr>
}
    </tbody>
</table>
	<!--<span class="btn btn-default btn-sm" onclick="cancelari();">
        Cancelar
    </span>-->