@inherits WebViewTemplate
<!DOCTYPE html>
<html>
	<head>
		<title>Umeca</title>

<script>
var blokedPleaseWait  = {};
blokedPleaseWait.show = function (caso){
	var dlgMsgBox = $('#blokedPleaseWaitBoxDlgId');
	dlgMsgBox.show();
};

blokedPleaseWait.hide = function (){
	var dlgMsgBox = $('#blokedPleaseWaitBoxDlgId');
	dlgMsgBox.hide();
};
</script>
<div class="modal-dialog" style="display:none; width:100%; position: relative;top: 0%;left: 0%;margin: 0 0 0 0;" id="blokedPleaseWaitBoxDlgId" >
    <div class="blocker" style="z-index:999;">
	    <div>
	        Cargando...<img src="content/images/ajax_loader.gif" alt="por favor espere" />
	    </div>
	</div>
</div>

		 <script>
var askPasswordKeySync  = {};

askPasswordKeySync.show = function (caso){
	var dlgMsgBox = $('#askPasswordKeySyncBoxDlgId');
	dlgMsgBox.show();
}; 


askPasswordKeySync.hide = function (){
	var dlgMsgBox = $('#askPasswordKeySyncBoxDlgId');
	dlgMsgBox.hide();
};

askPasswordKeySync.yes = function (){
	var password = $("#askPasswordKeySynccontainerPassword").val();
	$("#askPasswordKeySynccontainerPassword").val("");
	var rep = Sync.downloadVerificacion(password);
	console.log("rep-----------"+rep);
	var respuesta = $.parseJSON( rep );
	console.log(respuesta.message);
			if(respuesta.hasError){
				askPasswordKeySync.hide();
				$("#Resp2Value").text(respuesta.message);
				$("#mesageResp2").show();
			}else{
				askPasswordKeySync.hide();
				$("#RespSuccessDownload").text(respuesta.message);
				$("#mesageSuccessDownload").show();
			}
};
    	</script>
<div class="modal-dialog" style="display:none; width:60%; position: relative;top: 15%;left: 50%;margin: 0 0 0 -30%;" id="askPasswordKeySyncBoxDlgId" >
        <div class="modal-content" style="z-index: 1000;">
            <div class="modal-header">
                <div class="alert alert-info">
                    <button id="askPasswordKeySyncBoxDlgXclose" type="button" class="close" onclick="javascript:askPasswordKeySync.hide();">×</button>
                    <h4 class="modal-title element-center ng-binding" ng-bind-html="Title">Confirmación para Descargar información</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-center ng-binding" ng-bind-html="Message">Por favor ingrese la contraseña para continuar:<br><input type="password" name="usrPassword" id="askPasswordKeySynccontainerPassword"/>
                <br /><b>Al continuar descargaran los casos asignados al usuario.</b></div>
            </div>
            <div class="modal-footer">
                <button id="MessageBoxDlgYes" type="button" class="btn btn-default btn-primary" onclick="javascript:askPasswordKeySync.yes();" >Si</button>
                <button id="MessageBoxDlgNo" type="button" class="btn btn-default" onclick="javascript:askPasswordKeySync.hide();" >No</button>
            </div>
        </div>
        <div class="blocker" style="z-index:999;">
		    <div>
		        Cargando...<img src="content/images/ajax_loader.gif" alt="no content detected" />
		    </div>
		</div>
    </div>

    <div class="row" onclick="javascript:$(this).hide();" id="mesageResp1" style="display:none">
            <div class="col-xs-12">
                <div msg="MsgError"
                     class="umeca-toast-error element-center">
                    <p id="Resp1Value"></p>
                </div> 
            </div>
        </div>

		





    <link rel="stylesheet" href="content/themes/umeca/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="content/themes/umeca/datepicker.css"/>
    <link rel="stylesheet" href="content/themes/umeca/font-awesome.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/jquery-ui-1.10.3.full.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace-fonts.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace-rtl.min.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace-skins.min.css"/>

    <link rel="stylesheet" href="content/bootstrap.css"/>
    <link rel="stylesheet" href="content/Site.css"/>
    <link rel="stylesheet" href="content/themes/umeca/ace.min.css"/>




    <script src="scripts/jquery-1.10.2.min.js"></script>
    <script src="scripts/jquery.multiple.select.js"></script>
    <script src="scripts/selectize.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>
    <script src="scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="scripts/umeca/bootstrap.min.js"></script>
    <!--<script src="scripts/common.js"></script>-->
    <script src="scripts/modernizr-2.6.2.js"></script>
    <script src="scripts/respond.min.js"></script>
    <script src="scripts/umeca/chosen.jquery.min.js"></script>


    <script src="scripts/angular/angular.min.js"></script>

    <script src="scripts/umeca/date-time/bootstrap-datepicker.min.js"></script>
    <script src="scripts/umeca/date-time/bootstrap-timepicker.min.js"></script>
    <script src="scripts/umeca/date-time/daterangepicker.min.js"></script>
    <script src="scripts/umeca/date-time/moment.min.js"></script>

    <script src="scripts/umeca/ace-elements.min.js"></script>
    <script src="scripts/umeca/ace.min.js"></script>
    <script src="scripts/umeca/typeahead-bs2.min.js"></script>


    <script src="scripts/app/shared/dateTimePickerCursor.js"></script>


    	<script src="scripts/umeca/ace-extra.min.js"></script>

    <script src="scripts/app/shared/mainApp.js"></script>


    	<script src="scripts/app/shared/confirmDrct.js"></script>
    	<script src="scripts/app/shared/clearErrorMsgDrct.js"></script>
    	<script src="scripts/app/shared/hiddenDrct.js"></script>

    	<link rel="stylesheet" href="bootstrap-table/bootstrap-table.css">
    <script src="bootstrap-table/bootstrap-table.js"></script>
    <script src="bootstrap-table/bootstrap-table-es-AR.min.js"></script>
    <style type="text/css">
        .pagination-info {
        float: right;!important;
        }
        div.pagination {
            width: 55%!important;
        float: left!important;
        }
        ul.pagination {
            display: inline-block!important;
            text-align: right!important;
            float: right!important;
        }
        .page-list {
        float: left!important;
        padding-left: 5px;
        }
        .pagination-detail{
            width: 45%!important;
            float: right!important;
            padding-top: 10px;
        }
    </style>

    <link rel="stylesheet" href="content/multiple-select.css"/>
    <link rel="stylesheet" href="content/selectize.bootstrap3.css"/>
	</head>
	<body>


<!--<script src="scripts/app/shared/menuCtrl.js"></script>-->
<div ng-controller="menuController">

<div class="navbar navbar-default navbar-static-top">
<style>
    .navbar > .container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .container {
        max-width: 100% !important;
    }
</style>
<script type="text/javascript">
    try {
        ace.settings.check('navbar', 'fixed')
    } catch (e) {
    }
</script>

<div class="container" id="navbar-container">
<div class="navbar-header pull-left">
    <a href="@Url.Action("Index","Login")" class="navbar-brand">
        <i class="glyphicon glyphicon-cloud"></i>&nbsp;&nbsp;Inicio</a>
</div>
<!-- /.navbar-header -->

<div class="navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">
        <li class="nav-li-blue"></li>

            <li class="nav-li-blue"><a href="@Url.Action("Index","Meeting")" onclick="blokedPleaseWait.show();" ><i
                    class="icon-comments-alt"></i>&nbsp;&nbsp;Entrevista</a></li>
            <li class="nav-li-blue"><a href="@Url.Action("Index","Verification")" onclick="blokedPleaseWait.show();" ><i
                    class="icon-check"></i>&nbsp;&nbsp;Verificaci&oacute;n</a>
            </li>
            <li class="nav-li-blue"><a href="javascript:askPasswordKeySync.show();"><i
                    class="icon-cloud-download"></i>&nbsp;&nbsp;Descargar Informaci&oacute;n</a>
            </li>
            <li class="nav-li-blue"><a href="@Url.Action("Index","Sync")" onclick="blokedPleaseWait.show();" ><i
                    class="icon-exchange"></i>&nbsp;&nbsp;Sincronizar</a></li>
    </ul>
    <!-- /.ace-nav -->
</div>
<!-- /.navbar-header -->
</div>
<!-- /.container -->
</div>

<div id="ConfirmBoxDialogSession" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-{{Type}}">
                    <h4 class="modal-title element-center" ng-bind-html="Title"></h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="element-left" ng-bind-html="Message"></div>
            </div>
            <div class="modal-footer">
                    <span class="btn btn-primary btn-sm" ng-disabled="WaitFor==true"
                          ng-click="continueSession()">
                          Continuar
                    </span>
            </div>
        </div>
    </div>
</div>
</div>


















		@RenderBody()
	</body>
</html>